.first  {
  width: 155px;
  height: 85px;
  background-repeat: no-repeat;
  margin-left: 28px;
  margin-top: 118px;
  background-image: url(../images/espresso1.svg);
  display: none;
}

.second  {
  width: 170px;
  height: 85px;
  background-repeat: no-repeat;
  margin-left: 22px;
  margin-top: 100px;
  background-image: url(../images/espresso2.svg);
  display: none;
}


.third {
  width: 200px;
  height: 24px;
  background-repeat: no-repeat;
  margin-left: 17px;
  margin-top: 83px;
  background-image: url(../images/foamedmilk1.svg);
  display: none;
  }

.fourth {
  width: 175px;
  height: 85px;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 95px;
  background-image: url(../images/espresso2.svg);
  display: none;
}

.fifth {
  width: 195px;
  height: 48px;
  background-repeat: no-repeat;
  margin-left: 13px;
  margin-top: 56px;
  background-image: url(../images/cream.svg);
  display: none;
}

.six {
  width: 240px;
  height: 84px;
  background-repeat: no-repeat;
  margin-left: 13px;
  margin-top: 117px;
  background-image: url(../images/espresso2.svg);
  display: none;
}

.seven {
  width: 200px;
  height: 65px;
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-top: 57px;
  background-image: url(../images/steamedmilk.svg);
  display: none;
}

.eight {
  width: 200px;
  height: 65px;
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-top: 10px;
  background-image: url(../images/foamedmilkbig.svg);
  display: none;
}

.nine {
  width: 240px;
  height: 84px;
  background-repeat: no-repeat;
  margin-left: 13px;
  margin-top: 117px;
  background-image: url(../images/espresso2.svg);
  display: none;
}

.ten {
  width: 200px;
  height: 98px;
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-top: 43px;
  background-image: url(../images/hotwater.svg);
  display: none;
}

.eleven {
  width: 240px;
  height: 84px;
  background-repeat: no-repeat;
  margin-left: 13px;
  margin-top: 117px;
  background-image: url(../images/espresso2.svg);
  display: none;
}

.twelve {
  width: 195px;
  height: 90px;
  background-repeat: no-repeat;
  margin-left: 9px;
  margin-top: 63px;
  background-image: url(../images/chocolate.svg);
  display: none;
}

.thirteen {
  width: 200px;
  height: 98px;
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-top: 30px;
  background-image: url(../images/steamedmilk1.svg);
  display: none;
}

.fourteen {
  width: 240px;
  height: 84px;
  background-repeat: no-repeat;
  margin-left: 13px;
  margin-top: 117px;
  background-image: url(../images/espresso2.svg);
  display: none;
}

.fifteen {
  width: 201px;
  height: 134px;
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-top: 15px;
  background-image: url(../images/foamedmilk2.svg);
  display: none;
}

.sixteen {
  width: 240px;
  height: 84px;
  background-repeat: no-repeat;
  margin-left: 13px;
  margin-top: 117px;
  background-image: url(../images/espresso2.svg);
  display: none;
}

.seventeen {
  width: 180px;
  height: 134px;
  background-repeat: no-repeat;
  margin-left: 19px;
  margin-top: 15px;
  background-image: url(../images/icecream.svg);
  display: none;
  z-index: 2;
}

.eighteen {
  width: 240px;
  height: 84px;
  background-repeat: no-repeat;
  margin-left: 13px;
  margin-top: 117px;
  background-image: url(../images/espresso2.svg);
  display: none;
}

.nineteen {
  width: 180px;
  height: 150px;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-top: -5px;
  background-image: url(../images/whippedcream.svg);
  display: none;
  z-index: 2;
}
