
* {
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  /*background-color: #333333;*/
  background-color: #74596a;
    background-color: #986960;
}

.Wrapper .header  {
  display: block;
  font-size: 50px;
  color: #FEFCFC;
  text-transform: uppercase;
  margin-top: 70px;
}

.Wrapper .header p  {
  font-size: 3vw;
}

.Wrapper p {
  display: block;
  font-size: 15px;
  color: #FEFCFC;
  text-transform: uppercase;
  /*margin-bottom: 10px;*/
}

.Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
}

.section1 {
margin-top: 100px;
}

.section2 {
  top: 50px;
}

.section3 {
  margin-top: 100px;
}

.container, .container1, .container2 {
  width: 300px;
  height: 300px;
  text-align: center;
  float: left;
}

.cup,
.cup1,
.cup2 {
  position: absolute;
  width: 250px;
  height: 250px;
  background-image: url(../images/cup1.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  margin-left: 35px;
}

.cup3,
.cup4,
.cup5,
.cup6,
.cup7,
.cup8 {
  position: absolute;
  width: 250px;
  height: 300px;
  background-image: url(../images/cup2.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  margin-left: 35px;
  margin-top: 40px;
}

.first  {
  width: 155px;
  height: 85px;
  background-repeat: no-repeat;
  margin-left: 28px;
  margin-top: 118px;
  background-image: url(../images/espresso1.svg);
  display: none;
}

.second  {
  width: 170px;
  height: 85px;
  background-repeat: no-repeat;
  margin-left: 22px;
  margin-top: 100px;
  background-image: url(../images/espresso2.svg);
  display: none;
}


.third {
  width: 200px;
  height: 24px;
  background-repeat: no-repeat;
  margin-left: 17px;
  margin-top: 83px;
  background-image: url(../images/foamedmilk1.svg);
  display: none;
  }

.fourth {
  width: 175px;
  height: 85px;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 95px;
  background-image: url(../images/espresso2.svg);
  display: none;
}

.fifth {
  width: 195px;
  height: 43px;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-top: 56px;
  background-image: url(../images/cream.svg);
  display: none;
}

.six {
  width: 240px;
  height: 84px;
  background-repeat: no-repeat;
  margin-left: 13px;
  margin-top: 117px;
  background-image: url(../images/espresso2.svg);
  display: none;
}

.seven {
  width: 200px;
  height: 65px;
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-top: 57px;
  background-image: url(../images/steamedmilk.svg);
  display: none;
}

.eight {
  width: 200px;
  height: 65px;
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-top: 10px;
  background-image: url(../images/foamedmilkbig.svg);
  display: none;
}

figure {
    position: absolute;
}

/*@keyframes m2 {
 100%{background-image: url(../images/espresso.svg);}
}
@keyframes m1 {
  100%{background-image: url(../images/espresso.svg);}
}*/
/*@keyframes m {
  100%{background-image: url(../images/espresso.svg);}
}

figure:nth-of-type(3) {

  animation: m 2s both;
}

figure:nth-of-type(2) {

  animation: m1 2s both 2s;
}

figure:nth-of-type(1) {
  animation: m2 2s both 4s;
}

.element-animation{
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
}*/
